<div class="service-item-container">
  <div class="service-icon">
    <div class="service-icon-container">
      @switch (service.id) { @case (1) {<app-multidis-icon class="icon" />}
      @case (2) {<app-gestion-icon class="icon" />} @case (3)
      {<app-capacitacion-icon class="icon" />} @case (4) {<app-software-icon
        class="icon"
      />} }
    </div>
    <div class="service-number-container">
      <span class="service-number">{{ service.id }}</span>
    </div>
  </div>

  <span class="service-title"> {{ service.title }}</span>
</div>
