<div class="project-container">
  <h2 class="project-title">Proyectos</h2>

  <div class="project-carousel-container">
    <div class="project-carousel">
      <div class="carousel-content">
        @for (project of projectList; track project.id) {
        <!-- <img class="project-img" src="{{ project.img_path }}" alt="" /> -->
        <div class="project-img">{{ project.id }}</div>
        }
      </div>
    </div>

    <app-back-icon (click)="previousProject()" class="back-arrow" />
    <app-next-icon (click)="nextProject()" class="next-arrow" />
  </div>
</div>
