<div class="client-allie-container">
  <h2 class="client-allie-title">
    Colaboramos con Líderes y Aliados Clave para Crear Soluciones de Impacto
  </h2>

  <div class="client-allie-content">
    <div class="client-allie-box">
      <div class="client-allie-col-1">
        <div class="client-allie-content">
          <div class="allies animation-to-right">
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="details">
        <h2 class="subtitle">NUESTROS ALIADOS</h2>
        <p class="text-2">claves en proyectos innovadores</p>
      </div>
    </div>

    <div class="client-box-separator"></div>

    <div class="client-allie-box">
      <div class="details details-2">
        <h2 class="subtitle subtitle-2">NUESTROS CLIENTES</h2>
        <p class="text-2">confían en nuestra experiencia</p>
      </div>

      <div class="client-allie-col-1">
        <div class="client-allie-content">
          <div class="allies">
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
            <img src="assets/images/allie-img.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
