<div class="client-allie-container">
  <h2 class="client-allie-title">
    Conoce a nuestros Clientes y Aliados Estratégicos
  </h2>

  <div class="client-allie-box">
    <div class="client-allie-col-1">
      <h2 class="subtitle">NUESTROS ALIADOS</h2>
      <div class="client-allie-content">
        <div class="allies">
          <div class="separator"></div>
          <img src="assets/images/allie-img.svg" alt="" />
          <img src="assets/images/allie-img.svg" alt="" />
          <img src="assets/images/allie-img.svg" alt="" />
          <div class="separator"></div>
        </div>
      </div>
    </div>

    <div class="details">
      <p class="text-1">+ 20 Alianzas</p>
      <p class="text-2">pontencian el éxito mutuo</p>
    </div>
  </div>

  <div class="client-box-separator"></div>

  <div class="client-allie-box">
    <div class="details details-2">
      <p class="text-1">+ 20 Alianzas</p>
      <p class="text-2">pontencian el éxito mutuo</p>
    </div>

    <div class="client-allie-col-1">
      <h2 class="subtitle subtitle-2">NUESTROS ALIADOS</h2>
      <div class="client-allie-content">
        <div class="allies">
          <div class="separator"></div>
          <img src="assets/images/allie-img.svg" alt="" />
          <img src="assets/images/allie-img.svg" alt="" />
          <img src="assets/images/allie-img.svg" alt="" />
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
