<div class="client-allie-container">
  <h2 class="client-allie-title">
    Colaboramos con líderes y aliados clave para crear soluciones de impacto
  </h2>

  <div class="client-allie-content">
    <div class="client-allie-box">
      <div class="client-allie-col-1">
        <div class="client-allie-content">
          <div class="allies animation-to-right">
            <img src="assets/images/allie-imgs/BESSER.webp" alt="" />
            <img src="assets/images/allie-imgs/Group 13.webp" alt="" />
            <img src="assets/images/allie-imgs/logo costos.webp" alt="" />
            <img src="assets/images/allie-imgs/BESSER.webp" alt="" />
            <img src="assets/images/allie-imgs/Group 13.webp" alt="" />
            <img src="assets/images/allie-imgs/logo costos.webp" alt="" />
            <img src="assets/images/allie-imgs/BESSER.webp" alt="" />
            <img src="assets/images/allie-imgs/Group 13.webp" alt="" />
            <img src="assets/images/allie-imgs/logo costos.webp" alt="" />
          </div>
        </div>
      </div>

      <div class="details">
        <h2 class="subtitle">NUESTROS ALIADOS</h2>
        <p class="text-2">claves en proyectos innovadores</p>
      </div>
    </div>

    <div class="client-box-separator"></div>

    <div class="client-allie-box">
      <div class="details details-2">
        <h2 class="subtitle subtitle-2">NUESTROS CLIENTES</h2>
        <p class="text-2">confían en nuestra experiencia</p>
      </div>

      <div class="client-allie-col-1">
        <div class="client-allie-content">
          <div class="allies">
            <img
              src="assets/images/clients-imgs/logo-grande-1-300x300.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 2@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 3@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 4@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 5@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 6@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 7@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia 8@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1 copia@4x.webp"
              alt=""
            />
            <img
              src="assets/images/clients-imgs/Mesa de trabajo 1@4x.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
