@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.client-allie-container {
  margin-inline: auto;

  .client-allie-title {
    width: 100%;
    max-width: 831px;
    margin: 103px 0 113px;
    margin-inline: auto;
    text-align: center;
    color: var(--Negro, #000);
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.99px;
  }

  .client-allie-content {
    background-color: #000;

    .client-allie-box {
      width: 100%;
      max-width: 1440px;
      padding: 25px 65px 18px;
      margin-inline: auto;
      height: 186px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      .client-allie-col-1 {
        .subtitle-2 {
          text-align: end;
          margin-right: 25px;
        }

        .client-allie-content {
          width: 100%;
          max-width: 725px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;

          .allies {
            display: flex;
            flex-flow: row nowrap;
            height: 133px;
            gap: 50px;
            animation: slide 30s linear infinite;

            img {
              width: 208px;
            }
          }

          .animation-to-right {
            animation: slide-reverse 30s linear infinite;
          }
        }
      }

      .details {
        color: white;

        .subtitle {
          object-fit: contain;
          padding: 0 12px;
          margin: 0;
          color: black;
          font-size: 35px;
          font-weight: 700;
          line-height: 150%; /* 52.5px */
          letter-spacing: -0.77px;
          border-radius: 5px;
          background: var(--Naranja-1, #ffb263);
        }

        p {
          margin: 0;
        }

        .text-2 {
          text-align: end;
          font-size: 30px;
          font-weight: 400;
          letter-spacing: -0.66px;
          color: var(--gray-1);
        }
      }

      .details-2 {
        .text-2 {
          text-align: start;
        }
      }
    }

    .client-box-separator {
      width: 100%;
      max-width: 1440px;
      height: 3px;
      margin-inline: auto;
      background: var(--orange-1);
    }
  }
}

@media (width < 768px) {
  .client-allie-container {
    margin-inline: auto;

    .client-allie-title {
      max-width: 300px;
      margin: 36px auto 34px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.352px;
    }

    .client-allie-content {
      background-color: #000;

      .client-allie-box {
        padding: 14.5px 20px;
        height: 52px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .client-allie-col-1 {
          .subtitle-2 {
            text-align: end;
            margin-right: 25px;
          }

          .client-allie-content {
            max-width: 171.537px;

            .allies {
              height: 22px;
              gap: 22px;
              animation: slide 14s linear infinite;

              img {
                width: 74px;
              }
            }
          }
        }

        .details {
          color: white;

          .subtitle {
            object-fit: contain;
            padding: 0 5px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.352px;
          }

          p {
            margin: 0;
          }

          .text-2 {
            font-size: 10px;
            font-weight: 400;
            letter-spacing: -0.22px;
          }
        }
      }

      .client-box-separator {
        height: 1px;
      }
    }
  }
}
