<div class="map-container">
  <h1 class="title">Nuestra presencia</h1>

  <div class="map-content">
    <div class="map-details">
      <div class="map-first-col">
        <div class="map-description">
          <h2 class="map-title">LA PAZ - BOLIVIA</h2>
          <p class="map-text">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y
            archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar
            de las industrias desde el año texto de relleno estándar de las
            industrias desde el año relleno estándar.
          </p>

          <app-caret-right-icon class="map-description-icon" />
        </div>

        <div class="map-nosotros">
          <div></div>
          NOSOTROS
        </div>
      </div>

      <div class="map-media">
        <img class="map-img" src="assets/images/map-img.svg" alt="" />

        <app-location-icon class="map-location-icon" />
      </div>
      <div class="map-guide">
        <p>Selecciona los puntos naranjas en el mapa para conocer más</p>
        <app-select-icon />
      </div>
    </div>
  </div>
</div>
