<div class="map-container">
  <h1 class="title">Nuestra presencia</h1>

  <div class="map-content">
    <div class="map-details">
      <div class="map-first-col">
        <div class="map-description">
          <h2 class="map-title">LA PAZ - BOLIVIA</h2>
          <p class="map-text">
            @if (isPoint1Selected) { Punto 1 seleccionado Lorem Ipsum es
            simplemente el texto de relleno de las imprentas y archivos de
            texto. Lorem Ipsum ha sido el texto de relleno estándar de las
            industrias desde el año texto de relleno estándar de las . } @else {
            Punto 2 seleccionado Lorem Ipsum es simplemente el texto de relleno
            de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
            de relleno estándar de las industrias desde el año texto de relleno
            estándar de las . }
          </p>

          <app-caret-right-icon class="map-description-icon" />
        </div>

        <div class="map-nosotros">
          <div></div>
          NOSOTROS
        </div>
      </div>

      <div class="map-media">
        <img class="map-img" src="assets/images/map-img.svg" alt="" />

        <div class="selection-point point-1">
          <div
            (click)="selectPoint1()"
            class="point"
            [hidden]="isPoint1Selected"
          ></div>
          <app-location-icon
            class="map-location-icon"
            [hidden]="!isPoint1Selected"
          />
        </div>

        <div class="selection-point point-2">
          <div
            (click)="selectPoint2()"
            class="point"
            [hidden]="isPoint2Selected"
          ></div>
          <app-location-icon
            class="map-location-icon"
            [hidden]="!isPoint2Selected"
          />
        </div>
      </div>
      <div class="map-guide">
        <p>Selecciona los puntos naranjas en el mapa para conocer más</p>
        <app-select-icon class="icon" />
      </div>
    </div>
  </div>
</div>
