<div class="services-container">
  <h2 class="services-title">Servicios</h2>
  <p class="services-subtitle">
    Garantizamos resultados de alta calidad mediante la planificación
    estratégica, optimización de recursos, gestión integral y eficiente de
    proyectos de ingeniería y construcción.
  </p>

  <div class="service-content">
    @for (service of serviceList; track service.id) {
    <app-service-item [service]="service" />
    <div class="service-separator" [hidden]="service.id == 4"></div>
    }
  </div>
</div>
