.card-container {
  width: 230px;
  height: 190px;
  background: #e6e6e6;
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  span {
  }

  p {
  }
}
