.container {
  background-color: #f5f7fa;
}
.header {
  display: flex;
  width: 1440px;
  height: 84px;
  padding: 4px 112px;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  background-color: #f5f7fa;
  position: relative;
}

.logo-container {
  height: 76px;
  width: 102px;
  flex-shrink: 0;
  .logo {
    height: 76px;
    width: 102px;
  }
}
.menuYlenguaje{
  display: flex;

}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  color: #000000;

  margin: 0 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.nav-menu a {
  text-decoration: none;
  position: relative;
}

.nav-menu a:hover {
  color: #000000;
}


/*ES y EN*/
.language-switcher {
  display: flex;
  gap: 15px;
  margin-left: 80px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.lang-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
}

.lang-link.active {
  color: #ff9900; /* Color anaranjado para el idioma activo */
  transition: none;
}

.nav-menu li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: #000000;
  transition: width 0.3s;
}

.nav-menu li a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}


/* Responsive */
@media (min-width: 376px) and (max-width: 768px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #F5F7FA;
    flex-direction: column;
    text-align: center;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .nav-menu.active {
    display: flex;
    max-height: 300px;
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
  .language-switcher {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .header {
    width: 100%; /* Ajustar el ancho al 100% del viewport */
    height: 40px; /* Cambiar la altura a 40px */
    padding: 0; /* Reducir el padding para que sea adecuado en pantallas pequeñas */
    justify-content: space-between; /* Mantener la separación entre los elementos */
  }

  .logo-container {
    width: 48.316px; /* Reducir el tamaño del logo */
    height: 36px;
    padding-left: 20px;
    padding-bottom: 2px;
    .logo {
      width: 48.316px; /* Asegurar que el logo se ajuste al contenedor */
      height: 36px;
    }
  }

  .menu-toggle {
    display: block;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-right: 19.7px;
    padding-bottom: 13.67px;
  }
  .menu-toggle svg{
    width: 15.286px;
    height: 13.375px;
  }

  .nav-menu {
    display: none; /* Mantener el menú oculto hasta que se active */
    flex-direction: column;
    text-align: center;
    top: 40px; /* Debajo del header, que ahora tiene 40px */
    width: 100%; /* Cubrir el ancho completo de la pantalla */
    background-color: #F5F7FA;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

  }

  .nav-menu.active {
    display: none;
    max-height: 176px;
    width: 160px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--Principal, #D78129);
    z-index: 999; /* Asegura que el menú esté por encima de otros elementos */
    display: flex;
    flex-direction: column;
    padding-top: 0; /* Ajusta el padding superior si lo necesitas */
    position: fixed; /* Hace que el menú se mantenga fijo en la pantalla */
    left: 217px;
    align-items: normal;
  }

  .nav-menu ul {
    padding: 8px 25px;
    margin: 0;
    list-style: none; /* Asegúrate de eliminar cualquier estilo de lista */
    display: flex;
    flex-direction: column;
    align-items: baseline; /* Alinea los elementos en el centro horizontalmente */
    gap: 5px; /* Ajusta este valor según lo que desees. Reduce o elimina el espacio */
  }
  .nav-menu li{
    margin: 0;
  }

  .nav-menu li a{
    margin: 0;
    color: var(--Blanco, #FFF);
    font-family: Ruberoid;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 200% */
  }
  /* Ajustar los idiomas */
.language-switcher {
  display: flex;
  width: 48px;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-right: 25px;
  left: 70px;
  bottom: 2px;
  justify-content: space-between;

}

.lang-link {
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
}
