<form
  action="https://api.web3forms.com/submit"
  class="contact-form-container"
  method="post"
>
  <input
    type="hidden"
    name="access_key"
    value="be296702-9e9b-441a-b5e7-f9038b228260"
  />

  <div class="form-control">
    <label for="fullname">Nombres y Apellidos:</label>
    <input type="text" id="fullname" name="fullname" required />
  </div>
  <div class="form-control">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required />
  </div>
  <div class="form-control">
    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="message" required></textarea>
  </div>

  <button type="submit" class="form-button">Enviar</button>
</form>
