.contact-form-container {
  width: 674px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  font-size: 20px;

  .form-control {
    label {
      color: #08224b;
      font-weight: 300;
    }

    input,
    textarea {
      width: 100%;
      height: 52px;
      padding-inline-start: 10px;
      margin-top: 11px;
      border-radius: 5px;
      border: 2px solid var(--orange-1);
      font-size: 20px;
      font-weight: 300;

      &:focus {
        outline: none;
      }
    }

    textarea {
      min-height: 86px;
      max-height: 200px;
      resize: vertical;
    }
  }

  .form-button {
    height: 52px;
    border-radius: 5px;
    border: none;
    background-color: var(--orange-1);
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
  }
}

@media (width < 768px) {
  .contact-form-container {
    width: 100%;
    gap: 5.88px;
    font-size: 8px;

    .form-control {
      input,
      textarea {
        height: 13px;
        padding-inline-start: 3px;
        margin-top: 1px;
        border-radius: 2px;
        border: 1px solid var(--orange-1);
        font-size: 8px;
      }

      textarea {
        min-height: 21px;
      }
    }

    .form-button {
      height: 16px;
      font-size: 10px;
      letter-spacing: 0.05px;
      border-radius: 2px;
    }
  }
}
