<div class="contact-container">
  <div class="contact-description">
    <h2 class="contact-title">Contáctanos</h2>
    <p class="contact-text">
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
      de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
      industrias desde el año
    </p>

    <p class="contact-details">
      Aquí:
      <a href="mailto:hello@ctpconsultores.com">hello&#64;ctpconsultores.com</a>
      /
      <a href="">936 658 632</a>
    </p>
  </div>

  <app-contact-form />
</div>
